build/
cmake-build-debug/
cmake-build-release/
.idea/
# hack for windows build
sys_time_h/

# VSCode, but include settings.json
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

# binaries
cuBLAS_sgemm
simplest

# benchmark results
benchmark_results/
